<div class="col s12 m7">
  <h2 class="header">Pagina não encontrada</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://lorempixel.com/100/190/nature/6">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Infelizmente essa pagina não foi encontrada, clicando no link voce sera direcionado(a) para nossa pagina de login</p>
      </div>
      <div class="card-action">
        <a href="#">Login</a>
      </div>
    </div>
  </div>
</div>



